<%- model_class = Question -%>
<div class="container">
  <div class="jumbotron">
    <h1>Welocome</h1>
    <p>Our Forum mission is to share and grow the world’s knowledge.</p>
    <p><strong><%= link_to 'Browse through all questions', questions_path %></strong></p>
  </div>
</div>
<h2><em>Questions that you may want answer</em></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.id, question_path(question) %></td>
        <td><%= link_to question.title, question_path(question) %></td>
        <td><%= question.description %></td>
        <td><%= question.user_id %></td>
        <td><%=l question.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
